<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis.org//DTD" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.AppVersionMapper">
  <!-- 根据appId查询app信息 -->
  	<resultMap type="AppVersion" id="APPName">
  		<result column="softwareName" property="softwareName"/>
  		<result column="valueName" property="status"/>
  	</resultMap>
	<select id="getAppVersionListById" parameterType="Integer" resultMap="APPName">
		select v.*,i.softwareName,d.valueName from app_version as v,app_info as i,data_dictionary as d
		 where appId=i.id and appId=#{appId} and publishStatus=d.id
	</select>
	
	<!-- 添加ap版本信息 -->
	<insert id="addAppVersion" parameterType="AppVersion">
		insert into app_version(appId,versionNo,versionSize,publishStatus,versionInfo,apkFileName,modifyBy,modifyDate)
		value(#{appId},#{versionNo},#{versionSize},#{publishStatus},#{versionInfo},#{apkFileName},#{modifyBy},#{modifyDate})
	</insert>
	
	<!-- 根据id修改版本信息 -->
	<update id="updateAppVersion" parameterType="Integer">
		update app_version set
		appId=#{appId}
		versionNo=#{versionNo}
		versionSize=#{versionSize}
		publishStatus=#{publishStatus}
		versionInfo=#{versionInfo}
		apkFileName=#{apkFileName}
		modifyBy=#{modifyBy}
		modifyDate=#{modifyDate}
		where id=#{id}
	</update>
	
	<!-- 根据id查询版本信息 -->
	<select id="getAppVersionById">
		select * from app_version where id=#{id}
	</select>
</mapper>
