<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis.org//DTD" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.BackendUserMapper">
  	<!-- 管理员登入 -->
  	<select id="getBacUserLogin" parameterType="BackendUser" resultType="Integer">
  		select * from beckend_user 
  		<where>
  			<if test="userCode!=null and userCode!=''">
  			and	userCode=#{userCode} 
  			</if>
  			<if test="userPassword!=null and userPassword!=''">
  			and	userPassword=#{userPassword} 
  			</if>
  		</where>
  	</select>
  	<!-- 修改管理员信息 -->
  	<update id="updateBacUser" parameterType="BackendUser">
  		update backend_user 
  		<set>
			<if test="userCode!=null and userCode!=''">
				userCode=#{userCode},
			</if>
			<if test="userName!=null and userName!=''">
				userName=#{userName},
			</if>
			<if test="userType!=null and userType!=''">
				userType=#{userType},
			</if>
			<if test="userPassword!=null and userPassword!=''">
				userPassword=#{userPassword},
			</if>
			<where>
				<if test="id!=null and id!=''">
					id=#{id}
				</if>
			</where>
		</set>
  	</update>
  	<!-- 删除管理员信息 -->
  	<delete id="deleteBacUser" parameterType="Integer">
  		delete from backend_user where id=#{id}
  	</delete>
  	<!-- 查询所有管理员信息 -->
  	<select id="getBacUserList" parameterType="BackendUser" resultType="BackendUser">
  		select * from backend_user
  	</select>
</mapper>
